html, body {
    height: 100%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.red-button {
    background-color: red;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    vertical-align: center;
    padding: 12px;
    font-family: sans-serif;
}
